@model EstagioMVC.ViewModel.ViewModelCurso

@{
    ViewBag.Title = "Checar";
}

@Html.Partial("Deletar")

<div id="dados">
    <hr />

    <fieldset disabled="disabled">
        <div class="form-group">
            @Html.LabelFor(c => c.Avaliacao)
            @Html.DropDownListFor(c => c.Avaliacao, new SelectList(new EstagioMVC.ViewModel.ViewModelCurso().Notas), new { @class = "form-control", selected = Model.Avaliacao })
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.Nome)
            @Html.TextBoxFor(c => c.Nome, new { @class = "form-control", value = Model.Nome })
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.Autor)
            @Html.TextBoxFor(c => c.Autor, new { @class = "form-control", value = Model.Autor })
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.Carga)
            @Html.TextBoxFor(c => c.Carga, new { @class = "form-control", value = Model.Carga })
        </div>
    </fieldset>

</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#IdCurso").on('change', function (e) {
            e.preventDefault();
            document.getElementById('dados').style.display = "none";
        });
    </script>
}
