@model EstagioMVC.ViewModel.ViewModelCurso
@{
    ViewBag.Title = "Deletar";
}

<section>

    <br />
    <h2 class="h2">Deletar Curso</h2>
    <hr /> 

    <div class="form-inline">
        @using (Html.BeginForm("Checar", "Curso"))
        {
            @Html.LabelFor(c => c.IdCurso, new { @class = "sr-only" })
            @Html.DropDownListFor(c => c.IdCurso, new SelectList(Model.Cursos, "Id", "Nome"), "Selecione o Curso", new { @class = "form-control mb-2 mr-sm-2" })
    
            <button type="submit" class="btn btn-info mb-2 mr-3 ml-2">Checar</button>
        }
    
        @using (Html.BeginForm("Deletar", "Curso"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(c => c.IdCurso, new { id = "IdCursoClone" })
    
            <button type="submit" class="btn btn-danger mb-2">Deletar</button>
        }
    </div>
        
</section>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#IdCurso").on('change', function (e) {
            e.preventDefault();
            var Id1 = parseInt(document.querySelector('#IdCurso').value)
            document.getElementById('IdCursoClone').value = Id1;
        });
    </script>
}