@model EstagioMVC.ViewModel.ViewModelCurso

@{
    ViewBag.Title = "Atualizar";
}

@Html.Partial("Atualizar")


<section>
    
    <div id="dados">
        <hr />

        @using (@Html.BeginForm("Atualizar", "Curso"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(c => c.IdCurso, new { value = @Model.IdCurso })

            <div class="form-group">
                @Html.LabelFor(c => c.Avaliacao)
                @Html.DropDownListFor(c => c.Avaliacao, new SelectList(Model.Notas), new { @class = "form-control", selected = Model.Avaliacao })
                @Html.ValidationMessageFor(c => c.Avaliacao)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Nome)
                @Html.TextBoxFor(c => c.Nome, new { @class = "form-control", value = Model.Nome })
                @Html.ValidationMessageFor(c => c.Nome)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Autor)
                @Html.TextBoxFor(c => c.Autor, new { @class = "form-control", value = Model.Autor })
                @Html.ValidationMessageFor(c => c.Autor)
            </div>

            <div class="form-group">
                @Html.LabelFor(c => c.Carga)
                @Html.TextBoxFor(c => c.Carga, new { @class = "form-control", value = Model.Carga })
                @Html.ValidationMessageFor(c => c.Carga)
            </div>

            <button type="submit" class="btn btn-primary">Atualizar</button>
        }

    </div>

</section>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(function () {

            $("#IdCurso").change(function (e) {
                e.preventDefault();
                document.getElementById('dados').style.display = "none";
            });

        });

    </script>

}
